* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  /*   background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; */
  min-height: 100vh;
}

.navbar {
  background: transparent !important;
}

.navbar-brand {
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5rem;
}

.navbar-brand-img {
  height: 4rem;
  -webkit-transform: translateY(-1rem) translateX(-0.8rem);
          transform: translateY(-1rem) translateX(-0.8rem);
}

.navbar-nav {
  font-size: 2rem;
}

.nav-item {
  font-size: 4rem;
  margin-right: 4rem;
  font-family: 'Bebas Neue', cursive;
}

.header {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, from(#4d3701cb), to(#f1801769));
  background: linear-gradient(to right, #4d3701cb, #f1801769);
}

.header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__intro-text {
  display: inline-block;
  padding: 10rem 40vw 30rem 10rem;
  color: white;
}

.header__intro-text h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 9rem;
}

.header__intro-text p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.9rem;
  border-bottom: 2px solid white;
}

.header__intro-text button {
  font-size: 1.5rem;
}

.header__intro-btns {
  height: 5rem;
}

.header__video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.reviews__sponsors {
  height: auto;
  margin-bottom: 4rem;
}

.reviews__sponsors .row {
  height: 100%;
}

.reviews__sponsors__box {
  height: 100%;
  padding-top: 3rem;
}

.reviews__sponsors__box-bottom img {
  display: inline-block;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.reviews__sponsors__box p {
  color: gray;
  font-size: 1.4rem;
}

.star-container {
  font-size: 2.3rem;
  color: #daaf50;
}

.meet__us {
  /* margin: 0 10rem; */
}

.sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: 3px dashed #ffd6a1;
  border-radius: 0.5rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  /* padding-top: 6rem;
  padding-bottom: 3rem; */
  padding: 6rem 4rem 3rem;
  margin-bottom: 10rem;
}

.sales .overlapping-image {
  position: absolute;
  width: 25vw;
  bottom: 0;
  left: -10vw;
}

@media only screen and (max-width: 767px) {
  .sales .overlapping-image {
    bottom: 40%;
    left: -30vw;
    width: 50vw;
  }
}

.sales__tryit {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales__tryit h2 {
  font-size: 3.8rem;
  font-weight: 700;
}

.sales__tryit p {
  display: block;
  font-size: 1.6rem;
  width: 35rem;
}

.sales__pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.sales__pricing__box {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30rem;
}

.sales__pricing__box:first-child {
  border-right: 1px solid gray;
}

@media only screen and (max-width: 767px) {
  .sales__pricing__box:first-child {
    border-right: 0;
    border-bottom: 1px solid gray;
  }
}

.sales__pricing__box-monetary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales__pricing__box-monetary h2 {
  font-size: 8rem;
  font-weight: 700;
  margin: 0;
}

.sales__pricing__box-monetary span {
  font-size: 3rem;
  font-weight: 700;
  color: #797979;
}

.sales__pricing__box-monetary-extra {
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

.sales__pricing__box-monetary-extra p {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  color: #797979;
  margin-bottom: 0;
}

.sales__features {
  font-size: 1rem;
  text-align: center;
  line-height: 0.5;
}

.sales__save {
  margin-top: 3rem;
  text-align: center;
}

.sales__save h2 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.6;
}

.sales__save p {
  font-size: 1.4rem;
  line-height: 1;
}

.sales__save p span {
  font-weight: 700;
}

.csBtn {
  font-weight: 800;
  border-radius: 2rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  margin: 0;
}

.csBtn-basic {
  background-color: #94f3d7;
}

.csBtn-premium {
  background-color: #ecba4d;
}

.aboutus {
  height: auto;
  padding: 3rem;
  padding-top: 5rem;
  background-color: #ffffff;
  background-image: radial-gradient(#c7c7d1 1px, transparent 1px), radial-gradient(#d3d3d3 1px, #ffffff 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.aboutus__left {
  padding: 6vh 3vw;
}

.aboutus__left h2 {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.aboutus__left p {
  font-size: 2rem;
}

.aboutus__right {
  display: block;
  height: 90vh;
  background-image: url(../../src/assets/emily-walking-1.jpg);
  background-size: cover;
}

.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.transition i {
  font-size: 1.3rem;
}

.transition i:first-child {
  color: #e7c57a;
}

.transition i:nth-child(2) {
  color: #727272;
}

.transition i:nth-child(3) {
  color: #94f3d7;
}

.footer {
  background-color: #00080c;
  padding: 5rem 15vw;
  color: white;
}

.footer h2 {
  padding: 1rem;
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
}

.footer__bottom {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  text-decoration: none;
  color: #727272;
  font-size: 1.3rem;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer h3 {
  margin-top: 2rem;
}

.footer__social {
  margin-top: 2rem;
}

.footer__social i {
  margin-right: 1.3rem;
  font-size: 2rem;
  cursor: pointer;
}

.footer__bottom a {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 1rem 3rem;
}

.darkbg {
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background-color: #c78c3eb7 !important;
}
/*# sourceMappingURL=styles.css.map */